@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FAF9F6;
    --foreground: #0A0A0A;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }

  ::selection {
    @apply bg-[#C0F235] text-black;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
